// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Copy text color
/// @type Color
$text-color: #251d20;

$color-blue-bright: #00c1b5;
$color-orange: #ff651a;
$color-yellow: #ffbe00;
$color-purple: #1d3fbb;
$color-red: #e30512;

/// Container's maximum width
/// @type Length
$max-width: 1180px;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/';
